Description=MQTT_greenhouse
After=mosquitto.service

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/opt/mqttenv/bin/python3 gh_mttq_sub.py

[Install]
WantedBy=multi-user.target